:root {
  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-family: var(--font-family);
}

.nav__item:hover {
  text-shadow: 0 0 8px rgba(52, 84, 122, 0.5);
}

body {
  margin: 0;
  background-color: #eeeff1;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5em;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.header {
  width: 1920px;
  height: 700px;
}

.container {
  width: 1200px;
  height: 700px;
  padding: 40px;
  margin-left: 320px;
}

.header__title {
  width: 541px;
  height: 75px;
  margin-left: -3.8px;
}

.header__description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.64em;
  color: #727272;
  width: 540px;
  height: 67px;
  display: flex;
}

.nav {
  margin-bottom: 162px;
  margin-left: -17px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75em;
}

.nav__item {
  max-width: 565px;
  height: 16px;
  margin: 16px;
  display: block;
  padding: 8px 12px;
  font-weight: 400;
}

.nav__item--active {
  color: #34547a;
}

.header__button {
  display: block;
  background-color: #34547a;
  color: white;
  font-size: 16px;
  line-height: 164%;
  width: 225px;
  height: 65px;
  text-align: center;
  padding: 20px;
  margin-top: 70px;
}

.about {
  display: block;
  background-color: #fff;
  width: 1200px;
  height: 300px;
  border: 1px salmon;
}

.about__container {
  width: 1200px;
  height: 300px;
  background-color: white;
}

.about__wrapper {
  width: 1920px;
  height: 300px;
  background-color: white;
  padding: 70px;
}

.about__content {
  width: 547px;
  height: 147px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.about__description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 164%;
  text-align: center;
}

.experience {
  width: 1920px;
  height: 250px;
  background-color: #34547a;
}

.experience__container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.experience__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.experience__item {
  display: flex;
  flex-direction: column;
}

.experience__number {
  font-size: 21px;
  font-weight: 500;
  color: white;
  flex-direction: column;
}

.experience__text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.experience__image {
  width: 50px;
  height: 50px;
}

.experience__title {
  padding: 20px;
  font-size: 32px;
  font-weight: 500;
  margin-left: 320px;
  color: white;
}

.project {
  display: flex;
  gap: 6px;
}

.work {
  width: 1920px;
  height: 1004px;
  background-color: #eeeff1;
}

.work__container {
  width: 1920px;
  height: 1004px;
  background-color: #eeeff1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.work__content {
  width: 540px;
  height: 147px;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.work__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 40px;
}

.work__description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 164%;
}

.work__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work__image img {
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: #34547a;
  width: 1920px;
  height: 151px;
}

.footer__container {
  margin-left: 320px;
  padding: 40px;
}

.footer__copyright {
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 164%;
  margin-left: 45px;
}

.footer__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  color: #fff;
  margin-left: 45px;
}